*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 10px;
}

body {
	background-color: $color-body-bg;
}

.wrapper {
	width: 660px;
	margin: 6rem auto 10rem;

	@media only screen and (max-width : 640px) {
		width: 100%;
		margin: .2rem auto .2rem;
	}
}