// stylelint-disable scss/dollar-variable-empty-line-before

$grid-columns: 8;


// COLORS

$color-black: #000;
$color-white: #fff;
$color-blue: #0093d7;
$color-body-bg: #eeeeee;
$color-line-black: #333333;
$text-grey: #666666;

// FONTS

$font-family-roboto: "Roboto", sans-serif;